body {
  background: #2b3035;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
  height: 100vh;
}
.container table {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  border-spacing: 0px;
}
table thead {
    background: #343a40;
    color: white;
    padding: 50px 10px;
}
table tr {
    color: white;
    height: 50px;
    background: #343a40;
}
table td {
    padding: 0px 50px;
}
